{% extends '::base.html.twig' %}

{% block title %}Administration 3WA{% endblock %}

    {% block head %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Symfoacademy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    {% endblock %}

    {% block stylesheets %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        {% stylesheets
        '@WABoBundle/Resources/public/css/bootstrap.min.css'
        '@WABoBundle/Resources/public/css/pixel-admin.min.css'
        '@WABoBundle/Resources/public/css/widgets.min.css'
        '@WABoBundle/Resources/public/css/rtl.min.css'
        '@WABoBundle/Resources/public/css/themes.min.css'
        '@WABoBundle/Resources/public/css/mycss.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    <!-- Pixel Admin's stylesheets -->
        {#<link href="{{asset('assets/stylesheets/bootstrap.min.css')}}" rel="stylesheet" type="text/css">#}
        {#<link href="{{asset('assets/stylesheets/pixel-admin.min.css')}}" rel="stylesheet" type="text/css">#}
        {#<link href="{{asset('assets/stylesheets/widgets.min.css')}}" rel="stylesheet" type="text/css">#}
        {#<link href="{{asset('assets/stylesheets/rtl.min.css')}}" rel="stylesheet" type="text/css">#}
        {#<link href="{{asset('assets/stylesheets/themes.min.css')}}" rel="stylesheet" type="text/css">#}
        {#<link href="{{asset('assets/stylesheets/mycss.css')}}" rel="stylesheet" type="text/css">#}

    {% endblock %}

{% block javascripts %}



    <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
    <!-- <![endif]-->
    <!--[if lte IE 9]-->
    <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
    <![endif]-->

    <!--[if lt IE 9]><script type="text/javascript" src="excanvas.js"></script><![endif]-->


    <script type="text/javascript">
        window.onload = function() {
            try {
                TagCanvas.Start('myCanvas');
            } catch(e) {
                // something went wrong, hide the canvas container
                document.getElementById('myCanvasContainer').style.display = 'none';
            }
        };
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            if( ! $('#myCanvas').tagcanvas({
                textColour : 'black',
                outlineThickness : 1,
                maxSpeed : 0.03,
                depth : 0.75
            })) {
                // TagCanvas failed to load
                $('#myCanvasContainer').hide();
            }
            // your other jQuery stuff here...
        });
    </script>

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>
        //<![CDATA[


        // delay between geocode requests - at the time of writing, 100 miliseconds seems to work well
        var delay = 100;


        // ====== Create map objects ======
        var infowindow = new google.maps.InfoWindow();
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var mapOptions = {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var geo = new google.maps.Geocoder();
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        var bounds = new google.maps.LatLngBounds();

        // ====== Geocoding ======
        function getAddress(search, next) {
            geo.geocode({address:search}, function (results,status)
                    {
                        // If that was successful
                        if (status == google.maps.GeocoderStatus.OK) {
                            // Lets assume that the first marker is the one we want
                            var p = results[0].geometry.location;
                            var lat=p.lat();
                            var lng=p.lng();
                            // Output the data

                            // Create a marker
                            createMarker(search,lat,lng);
                        }
                        // ====== Decode the error status ======
                        else {
                            // === if we were sending the requests to fast, try this one again and increase the delay
                            if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                                nextAddress--;
                                delay++;
                            } else {
                            //     alert('Geocode was not successful for the following reason: ' + status);
                            }
                        }
                        next();
                    }
            );
        }

        // ======= Function to create a marker
        function createMarker(add,lat,lng) {
            var contentString = add;
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat,lng),
                map: map,
                zIndex: Math.round(latlng.lat()*-100000)<<5
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(contentString);
                infowindow.open(map,marker);
            });

            bounds.extend(marker.position);

        }

        // ======= An array of locations that we want to Geocode ========
        var addresses = [
            '40, rue du President-Edouard-Herriot 69001',
            '20, rue Thomassin 69002',
            '79, rue de la Republique 69002',
            '31, cours Vitton 69006',
            'Centre commercial La Part-Dieu 69003',
            'Cité internationale, 60, quai Charles-de-Gaulle 69006'

        ];

        // ======= Global variable to remind us what to do next
        var nextAddress = 0;

        // ======= Function to call the next Geocode operation when the reply comes back

        function theNext() {
            if (nextAddress < addresses.length) {
                setTimeout('getAddress("'+addresses[nextAddress]+'",theNext)', delay);
                nextAddress++;
            } else {
                // We're done. Show map bounds
                map.fitBounds(bounds);
            }
        }

        // ======= Call that function for the first time =======
        theNext();

        // This Javascript is based on code provided by the
        // Community Church Javascript Team
        // http://www.bisphamchurch.org.uk/
        // http://econym.org.uk/gmap/

        //]]>
    </script>

    {% javascripts
    '@WABoBundle/Resources/public/js/bootstrap.min.js' filter='yui_js'
    '@WABoBundle/Resources/public/js/pixel-admin.min.js' filter='yui_js'
    '@WABoBundle/Resources/public/js/jquery.tagcanvas.js'

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- Pixel Admin's javascripts -->

    <!-- Get jQuery from Google CDN -->
    <!--[if !IE]> -->



    {#<script src="{{asset('assets/javascripts/bootstrap.min.js')}}"></script>#}
    {#<script src="{{asset('assets/javascripts/pixel-admin.min.js')}}"></script>#}
    <script type="text/javascript">
        init.push(function () {
            // Javascript code here
        })
        window.PixelAdmin.start(init);
    </script>

{% endblock %}

{% block body %}


    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

    {% block header %}
        {{ include('WABoBundle:layout:header.html.twig') }}

    {% endblock %}

    {% block sidebar %}
        {{ include('WABoBundle:layout:sidebar.html.twig') }}
    {% endblock %}

    {% block content %}

    {% endblock %}
    {% block footer %}
        {{ include('WABoBundle:layout:footer.html.twig') }}
    {% endblock %}
{% endblock %}

