{% extends "WABoBundle::disconnect.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="signup-header">
        <a href="index.html" class="logo">
            <div class="demo-logo bg-primary"><img src="assets/demo/logo-big.png" alt="" style="margin-top: -4px;"></div>&nbsp;
            <strong>Pixel</strong>Admin
        </a> <!-- / .logo -->
        <a href="pages-signin-alt.html" class="btn btn-primary">Sign In</a>
    </div> <!-- / .header -->

    <h1 class="form-header">Connection</h1>

    <!-- Form -->
    <form action="{{ path("wa_bo_login_check") }}" id="signup-form_id" class="panel" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">

            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control input-lg" placeholder="Username" />
        </div>

        <div class="form-group">
            <input type="password" id="password" name="_password" required="required" class="form-control input-lg" placeholder="Password" />        </div>

        <div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
            <label class="checkbox-inline">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="px"/>
                <label for="remember_me">{{ 'remember me'|trans }}</label>
            </label>
        </div>

        <div class="form-actions">
            <input type="submit" id="_submit" name="_submit" value="{{ 'submit'|trans }}" class="btn btn-primary btn-lg btn-block" />
        </div>
    </form>
    <!-- / Form -->

    <div class="signup-with">
        <div class="header">or sign up with</div>
        <a href="index.html" class="btn btn-lg btn-facebook rounded"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
        <a href="index.html" class="btn btn-lg btn-info rounded"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="index.html" class="btn btn-lg btn-danger rounded"><i class="fa fa-google-plus"></i></a>
    </div>



{% endblock %}
