{% extends 'WAFoBundle::layout.html.twig' %}

{% block content -%}

    <!-- Primary table -->

    <div class="table-primary">
        <div class="table-header">
            <div class="table-caption">
                <h1>Directors list</h1>
            </div>
        </div>
        <table class="records_list table table-bordered">
            <thead>
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Dob</th>
                <th>Fb</th>
                <th>Biography</th>
                <th>Note</th>
                <th>Datecreated</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><img src="{{ asset('uploads/directors/'~ entity.image) }}" alt="" class="img-responsive"/></td>
                    <td><a href="{{ path('directors_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.firstname }}</td>
                    <td>{{ entity.lastname }}</td>
                    <td>{% if entity.dob %}{{ entity.dob|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.fb }}</td>
                    <td>{{ entity.biography }}</td>
                    <td>{{ entity.note }}</td>
                    <td>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('directors_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('directors_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- / Primary table -->

    <ul>
        <li>
            <a href="{{ path('directors_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
{% endblock %}
