{% extends 'WABoBundle::layout.html.twig' %}

{% block content -%}
    <h1>Directors</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Movies</th>
                {% for movie in entity.movies %}
                    <td>{{ movie.title }}</td>
                {% endfor %}
            </tr>
            <tr>

            <tr>
                <th>Actors in the same movie</th>
                {% for movie in entity.movies %}
                    {% for actor in movie.actors %}
                        <td>{{ actor.firstname ~" "~ actor.lastname }}</td>
                    {% endfor %}
                {% endfor %}
            </tr>

                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{{ entity.dob|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fb</th>
                <td>{{ entity.fb }}</td>
            </tr>
            <tr>
                <th>Biography</th>
                <td>{{ entity.biography }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/directors/'~ entity.image) }}" alt="" class="img-responsive"/></td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ entity.note }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('directors') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('directors_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
